<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>ScalingoTest</title>
		<meta name="description" content="ScalingoTest search engine for GitHub">
		<meta name="author" content="Mathias Bragagia">
		<style>
			.lang-title
			{
				color: rgb(34, 80, 230);
				margin: 0;
				margin-top: 10px;
			}
			.lang-repo, .lang-repo a
			{
				color: rgb(230, 80, 34);
				margin: 0;
				margin-left: 10px;
			}
		</style>
		<!--[if lt IE 9]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
		<![endif]-->
	</head>
	<body>
		{{if .Query}}
			<h2>Searching for {{.Query}}</h2>
		{{else}}
			<h2>Listing all items</h2>
		{{end}}
		{{range .Languages}}
			<p class="lang-title">- {{.Language}} : {{.Total}} bytes</p>
			{{range $index, $element := .Repos}}
				<p class="lang-repo">- <a href="http://github.com/{{$index}}">{{$index}}</a> : {{$element}}</p>
			{{end}}
		{{end}}
	</body>
</html>
